/*
https://developer.mozilla.org/en-US/docs/Web/CSS/margin

*/
body {
  background-color: #1abc9c;
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  margin: 2rem auto 0 auto;
  /*top right bottom left*/
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
  /*1em = 1rem = 16px*/
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

p {
  margin-bottom: 0;
}

/* this fix is for safari browsers on the mac */
.row:before, .row:after {
  display: none !important;
}

/* navigation-bar section begin */
#navigation-bar {
  background-color: #3498db;
}

.navbar-collapse {
  text-align: right;
}

/* navigation-bar section end */
/* title-section begin */
#title-section {
  color: black;
  background-color: #3498db;
  padding: 2.8%;
  margin: 0 0 10px 0;
  text-align: center;
  position: relative;
  /*its children can have absolute position and their position value will be relative to this*/
}

.first_cloud {
  display: block;
  float: right;
  position: absolute;
  left: 72%;
  top: 1%;
}

.mountain {
  display: inline;
}

.second_cloud {
  position: absolute;
  left: 24%;
  bottom: 56%;
}

.coder {
  font-family: 'PT Mono', monospace;
}

.movie {
  font-family: 'Permanent Marker', cursive;
}

/* title-section end */
/* profile-section begin */
#profile-section {
  text-align: center;
  padding: 4% 20%;
}

.sumit_image {
  width: 120px;
  height: 180px;
}

/* profile-section end */
/* employment-section begin */
#employment-section {
  text-align: center;
  background-color: #3498db;
  padding: 4%;
}

.card {
  text-align: center;
  background-color: inherit;
  border: 1px solid #8f8f8f;
}

.employment-col {
  margin-top: 1%;
  padding: 1% 5%;
}

/* employment-section end */
/* education-section begin */
#education-section {
  text-align: center;
  padding: 4%;
}

.education-col {
  background-color: #1abc9c;
}

/* education-section end */
/* skills-section begin */
#skills-section {
  text-align: center;
  background-color: #3498db;
  padding: 4%;
}

.skill_separator {
  border-color: #34495e;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  height: 0;
  clear: both;
}

.skill-col {
  width: 50%;
  margin: 32px auto auto auto;
  line-height: 1;
  text-align: center;
  /*clear: left;*/
  /*makes sure there is nothing to the left. So basically removes the float that was set in a prev element*/
}

.skill_image {
  width: 25%;
  height: 25%;
  /*float: left;*/
  /*useful for wrapping text around this element. But use very carefully.*/
  margin-bottom: 30px;
}

.skill_project_heading {
  margin-top: 1.5rem;
  /*clear: both;*/
  line-height: 0;
}

/* skills-section end */
/* contact-section begin */
#contact-section {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 0.5%;
}

/* contact-section end */
/******** Images Start ********/
.award_images {
  width: 50%;
  border: solid 8px black;
}

/******** Images End ********/
/******** Separator Start ********/
.full_separator {
  clear: both;
}

/******** Separator End ********/
.home_button {
  text-align: right;
  padding-top: 1%;
}

.big-brand {
  word-wrap: break-word;
  color: white;
  font-size: 1.25rem;
}

/* this is triggered for browsers that have a width less than 980px */
@media (max-width: 980px) {
  #navigation-bar {
    font-size: 1.5rem;
  }

  .navbar-brand {
    font-size: 1.5rem;
  }

  .big-brand {
    word-wrap: break-word;
    color: white;
    font-size: 1.5rem;
  }

  .navbar-toggler-icon {
    width: 50px;
    height: 50px;
  }

  .award_images {
    width: 80%;
    border: solid 8px black;
  }
}
